@use 'base/variables' as v;
@use 'base/mixins' as m;

.dealers {
  padding: v.$separation 0;

  &__heading {
    text-align: center;
    color: v.$secondary;
  }

  &__grid {
    @include m.tablet {
      @include m.grid(2, v.$separation);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  &__text {
    line-height: 1.5;
    color: v.$secondary;
  }

  &__link {
    @include m.button(v.$primary, v.$white);
  }
}
