@use 'base/mixins' as m;
@use 'base/variables' as v;

.favorites {
  background-color: v.$gray;
  padding: v.$separation 0;

  &__heading {
    text-align: center;
    color: v.$secondary;
  }

  &__grid {
    @include m.tablet {
      @include m.grid(2, 4rem);
    }
  }
}
